.Footer-Container {
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  padding: 10px;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footer-text {
  text-align: center;
  font-size: 10px;
}

/* Responsive Footer */
@media (max-width: 767px) {
  .Footer-Container {
    text-align: center;
  }
}
